<div class="page-hero">
  <div class="container hero" style="background-image: url(https://github.com/TULiberalArts/Liberal-Studies/blob/master/media/blshero-min.png?raw=true);">
    <div class="row">
      <div class="col s11 offset-s1 m11 offset-m1 l6 offset-l1">
        <div class="hero-text" style="color:white;">Bachelor of Arts in Liberal Studies Degree</div>
      </div>
      <div class="col s11 offset-s1 m11 offset-m1 l5">
      {% if page.ppv_form %}
        {% include {{ page.ppv_form }} %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
